span.navbar-brand img {
    border-radius: 100px;
}

.navbar-dark {
    background-color: var(--accent);
    opacity: 0.97;
}

.nav-link {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.dropdown-menu {
    background-color: var(--accent-dark);
    border-radius: 5px;
    opacity: 0.97;
}

.dropdown-menu a.dropdown-item {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s;
}

.dropdown-menu a.dropdown-item.active {
    background-color: var(--accent-dark);
    filter: brightness(90%);
    color: rgba(255, 255, 255, 0.9);
}

.dropdown-menu a.dropdown-item:hover {
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--accent-dark);
    filter: brightness(80%);
}

.dropdown-menu a.dropdown-item.active:hover {
    cursor: default;
    color: rgba(255, 255, 255, 0.9);
    filter: brightness(90%);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabindex]) {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
}

.dropdown-menu a.dropdown-item:not([href]):not([tabIndex]):hover {
    color: rgba(255, 255, 255, 0.6);
}

.dropdown-menu .dropdown-divider {
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}